body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
  }

.navigation {
    text-transform: uppercase;
    background-color:darkslategrey;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-links {
    display: flex;
    height: 22px;
}

.navigation > .navigation-links > div {
    margin-left: 10px;
    margin-right: 10px;
}
 
.journal-entries-link a {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.login-link a {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.register-link a {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.journal-link a {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-links a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.journal-entries-link:hover {
    border-bottom: 1px solid white;
}

.journal-entries-link:hover {
    border-bottom: 1px solid white;
}

.journal-entries-link a:hover {
    color: white;
}

.journal-link:hover {
    border-bottom: 1px solid white;
}

.journal-link a:hover {
    color: 1px solid white;
}

.login-link:hover {
    border-bottom: 1px solid white;
}

.login-link a:hover {
    color: 1px solid white;
}

.register-link:hover {
    border-bottom: 1px solid white;
}

.register-link a:hover {
    color: 1px solid white;
}

.navigation-links a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.logged-user {
    color: white;
}